In [1]:
import numpy as np
import pandas as pd

In [6]:
data = pd.read_csv('../input/CAR DETAILS FROM CAR DEKHO.csv')

In [7]:
data.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [9]:
data.fuel.unique()

array([&#39;Petrol&#39;, &#39;Diesel&#39;, &#39;CNG&#39;, &#39;LPG&#39;, &#39;Electric&#39;], dtype=object)

In [10]:
data.seller_type.unique()

array([&#39;Individual&#39;, &#39;Dealer&#39;, &#39;Trustmark Dealer&#39;], dtype=object)

In [11]:
data.transmission.unique()

array([&#39;Manual&#39;, &#39;Automatic&#39;], dtype=object)

In [12]:
data.owner.unique()

array([&#39;First Owner&#39;, &#39;Second Owner&#39;, &#39;Fourth &amp; Above Owner&#39;,
       &#39;Third Owner&#39;, &#39;Test Drive Car&#39;], dtype=object)